<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
	<listener class-name="com.inetBanking.Utilities.Reporting"/>
		</listeners>
  <test thread-count="1" name="Test" >
  <parameter name="browser" value="chrome"/>
  <!-- <parameter name="browser" value="ie"/> -->
    <classes>
     <class  name="com.inetBanking.Testcases.TC001_LoginTest"/>  
    <!-- <class name="com.inetBanking.Testcases.TC002_LoginTest_DataProvider"/>  -->
      <class name="com.inetBanking.Testcases.TC003_AddCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
